/*
	Theme Name: Job Portal
	Company: 42works
*/

/*=========== Common Style ===========*/
body {
	font-family: 'Roboto';
	font-size: 14px;
	color: #4e4e4e;
}
*:focus {
    outline: none;
}

*:focus {outline:none;}
*::-moz-focus-inner {border:0;}

.btn-primary {
	background-color: #0B6599;
	color: #fff;
	border-color: #0B6599;
	transition: all 0.5s ease 0s;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
	background-color: #0B6599;
	color: #fff;
	border-color: #0B6599;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.iconOutter .icon {
	position: absolute;
	top: 0px;
	left: 0;
	height: 15px;
	width: 15px;
	border: 1px solid #0B6599;
	border-radius: 2px;
	z-index: 0;
}

.iconOutter .icon::after {
    position: absolute;
    top: -4px;
    left: 0px;
    content: "\f00c";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 14px;
    display: none;
}

.iconOutter input[type=checkbox]:hover {
	cursor: pointer;
}

.iconOutter input[type=checkbox] {
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	left: 0;	
	z-index: 9;
	opacity: 0;
	margin-right: 5px;
}

.iconOutter input[type=checkbox]:checked + .icon {
	background-color:  #0B6599;
} 

.iconOutter input[type=checkbox]:checked + .icon::after {
	display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4e4e4e;
  font-size: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4e4e4e;
  font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4e4e4e;
  font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4e4e4e;
  font-size: 13px;
}

.form-control {
	font-size: 13px;
	color: #666;
	min-height: 40px;
	border-radius: 0;
}

.mce-container-body .mce-resizehandle {
	display: none;
}

.form-control:focus{
	box-shadow: none;
	border-color: #ccc;
}

.boxShadow {
	border: 8px solid rgba(19, 46, 96, 0.85);
	padding: 20px;
	color: #444;
	background: rgba(255,255,255,1);
	margin-bottom: 20px;
}

.boxShadow h4 {
	color: #0B6599;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.boxShadow h4::after {
	position: absolute;
	left: 2px;
	bottom: -6px;
	content: '';
	height: 2px;
	width: 50px;
} 

.boxShadow .btn {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.logouploader label {
   display: block;
   padding-right: 31px;
}

label {
color: #4c4c4c;
font-size: 14px;
font-weight: 500;
}
label > span {
	color: #0B6599;
}

.form-group small input {
	float: left; 
	margin: 4px 5px 4px 0;
}

.form-group option.placeHolder {
	font-size: 13px;
}


/*============ Header =============*/
header {
	background: #0B6599;
    overflow: hidden;;
	color: #fff;
	padding: 10px 0;
}

header h1 {
	margin: 3px 0 0;
}

header h1 > a {
	color: #fff;
}

header h1 > a:hover {
	color: #fff;
	text-decoration: none;
}

header .logoHeader img{
	width: 52px;
}

header .navbar .navbar-nav > li a {
	color: #fff;
}

header .navbar .navbar-nav > li a:hover {
	color: #ccc;
}

header .navbar .navbar-nav > li:first-child span > a{
	margin-left: 10px;
}

header .navbar .navbar-nav > li:last-child {
	padding-right: 0;
}

header .navbar .navbar-nav > li {
	position: relative;
	padding: 0 8px;
}

header .navbar .navbar-nav > li::after {
	position: absolute;
	top: 8px;
	right: -2px;
	content: "|";
}

header .navbar .navbar-nav > li:last-child::after {
	display: none;
}

header .navbar  span.mr-auto {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .logoHeader.text-center {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logoHeader.text-center::after {
    position: absolute;
    height: 143%;
    content: '';
    background: rgb(35, 118, 173);
    width: 100%;
    left: 0;
    top: -13px;
    z-index: -1;
}

/*================= Post A Job Form ===============*/
.jobPostForm::after {
	background-attachment: fixed;
}

.jobPostForm .container {
	width: 960px;
}

.jobPostForm .formWrapper h4 {
	color: #0B6599;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.jobPostForm .formWrapper .fullwidth h4 {
	color: #fff;
}

.formWrapper{
	background: transparent;
	margin: 30px 0;
}

.formWrapper h1 {
    color: #fff;
    margin: 20px 0;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.formWrapper h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.formWrapper p {
    font-style: italic;
    color: #fff;
    font-size: 16px;
}

.formWrapper .mTitile {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bolder;
    padding: 0;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.rangeField input#max {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rangeField input#min {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rangeField .to {
    background: #ddd;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 29px -15px 0;
    height: 40px;
    border: 1px solid #b7b7b7;
}

.rangeBtn small{
	padding-top: 38px;
	float: left;
	display: block;
	font-size: 13px;
	font-weight: 500;
}

select#salaryType {
    margin-top: 8px;
}


span#mceu_30 {
    display: none;
}

.logouploader .form-control {
	display: none;
}

.skillFiled {
    position: relative;
    float: left;
    width: 100%;
}

.logouploader .logoUpload {
	border: 1px solid #ddd;
}

.logouploader .logoUpload {
    border: 1px solid #ddd;
    font-size: 52px;
    text-align: center;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 125px;
    float: right;
    flex-direction:column;
    padding: 5px; 
}

.optionsBtn {
    position: absolute;
    right: -70px;
    top: 6.5px;
    font-size: 20px;
}

.optionsBtn a {
    margin: 0 5px;
    color: #0B6599;
}

/*.optionsBtn a:hover {
    text-decoration: none;
    color: #000;
}*/

.form-group small > input {
    float: left;
    position: relative;
    top: 0;
}


/*================== Dashboard Left Side navigation =================*/
.leftNavigation {
	padding: 20px 10px;
}

.leftNavigation .navbar {
	padding: 0 ;
}

.leftNavigation .navbar-toggler {
	display: none;
}

	
.leftNavigation .navbar-nav li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	padding: 0 0 10px;
}

.leftNavigation .navbar-nav li:first-child {
	margin-bottom: 10px;
	padding-bottom: 0;
}

.leftNavigation .navbar-nav li:last-child {
	margin-bottom: 0;
	border: none;
}

.leftNavigation .navbar-nav li:last-child::after{ 
	display: none
} 

.leftNavigation .navbar-nav li .nav-link {
	color: #0B6599 !important;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 15px 10px 40px;
	position: relative;
}

.leftNavigation .navbar-nav li .nav-link::before{
	position: absolute;
	content: "\f233";
	font-family: "FontAwesome";
	color: #1F5798;
	left: 10px;
}

.leftNavigation .navbar-nav li .nav-link:hover {
	color: #000 !important;
} 

.leftNavigation .navbar-nav li > span {
	    color: #0B6599;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    padding: 0 15px 0 31px;
    position: relative;
}

/*.leftNavigation .navbar-nav li > span::before{
	position: absolute;
	content: "\f233";
	font-family: "FontAwesome";
	color: #0B6599;
	left: 10px;
}*/

.leftNavigation .navbar-nav li .seekers::before {
    position: absolute;
    content: "\f2ba" !important;
    font-family: "FontAwesome";
    color: #0B6599;
    left: 10px;
}

.leftNavigation .navbar-nav li .providers::before {
    position: absolute;
    content: "\f135" !important;
    font-family: "FontAwesome";
    color: #0B6599;
    left: 10px;
}

.leftNavigation .navbar-nav li .opportunities::before {
    position: absolute;
    content: "\f2b5" !important;
    font-family: "FontAwesome";
    color: #0B6599;
    left: 10px;
}

.leftNavigation .navbar-nav li .submit::before {
    position: absolute;
    content: "\f2bb" !important;
    font-family: "FontAwesome";
    color: #0B6599;
    left: 10px;
}

.leftNavigation .navbar-nav li .fa {
	color: #0B6599;
	font-size: 14px;
	margin-right: 4px; 
}

.leftNavigation .navbar-nav li .fa-plus {
	margin-right: 7px;
}

.leftNavigation .navbar-nav li .dropdown-item {
    color: #4c4848;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 30px 8px 23px;
    margin: 0;
    position: relative;
    z-index: 999;
    white-space:normal; 
}

/*.leftNavigation .navbar-nav li .dropdown-item::after {
	position: absolute;
	z-index: -1;
	height: 100%;
	content: '';
	left: 0;
	top: -1px;
	width: 0;
	background: -moz-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%);  ff3.6+ 
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8,27,73,0.97)), color-stop(100%, rgba(30,101,178,0.97)));  safari4+,chrome 
    background: -webkit-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%);  safari5.1+,chrome10+ 
    background: -o-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%);  opera 11.10+ 
    background: -ms-linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%);  ie10+ 
    background: linear-gradient(45deg, rgba(8,27,73,0.97) 0%, rgba(30,101,178,0.97) 100%);  w3c 
    overflow: hidden;;
	transition: all 0.5s ease 0s;
}*/

/*.leftNavigation li.nav-item a:hover,
.leftNavigation li.nav-item a:hover .fa {
	color: #fff;
	background: transparent;  
	transition: all 0.3s ease 0s;
}*/
.leftNavigation li.nav-item a:active,
.leftNavigation li.nav-item a:focus,
.leftNavigation li.nav-item a:hover{
    background:transparent;
    color: #4c4848;
}
.leftNavigation .navbar-nav li .dropdown-item:hover::after {
    width: 100%;
}


/*================== Dashboard Content Wrapper =================*/

.textOutter {
    position: relative;
    height: 100%;
    text-align: center;
    display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;	
}

.textOutter h2 {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 46px;
    text-shadow: 3px 3px 0px rgb(216, 216, 216);
    margin-bottom: 0;
}

.textOutter h6 {
    font-size: 24px;
    font-weight: 300;
    margin-top: -5px;
}

.contentWrapper {
    padding: 30px 30px 0;
    background: #f2f2f2;
    transition: all 0.6s ease 0s;
    overflow: hidden;
}

.contentWrapper .mTitile {
	text-transform: uppercase;
	color: #0B6599;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}

.contentWrapper .outterWrapper table thead {
    background: #0B6599;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.contentWrapper .outterWrapper table tbody > tr{
	background: #fff;
	font-size: 13px;
}

.contentWrapper .outterWrapper table tbody > tr td:first-child
 {
    font-weight: bold
}

.contentWrapper .outterWrapper div.dataTables_wrapper div.dataTables_filter input {
	min-width: 350px;
}


.contentWrapper .outterWrapper table tbody > tr td {
    vertical-align: middle;
}

.contentWrapper .outterWrapper table tbody > tr .fa {
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 14px;
    background: #0B6599;
    line-height: 24px;
    text-align: center;
    border-radius: 100px;
    margin: 0 5px;
}

.contentWrapper .outterWrapper table {
	margin: 30px 0 !important;
}

.contentWrapper .outterWrapper table tbody > tr .fa-trash {
	border-color: #BE1E1E;
	background: #BE1E1E;
}

.contentWrapper .outterWrapper table tbody > tr a:hover {
	text-decoration: none;
}

/*.contentWrapper .outterWrapper table tbody > tr a:hover .fa {
	background: #000;
}*/

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before {
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

.contentWrapper .outterWrapper table tbody > tr .action a {
    margin: 4px;
    vertical-align: middle;
}

.dataTables_length > label {
    text-transform: capitalize;
}

.contentWrapper .outterWrapper table tbody > tr .action a.monsterIcon {
    width: 25px !important;
    padding-left: 3px;
    display: inline-block;
}

.contentWrapper .outterWrapper table thead > tr >th:last-child {
    min-width: 130px;
}

.mailSpan {
    position: relative;
    margin-left: 25px;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.downLoadResume {
    float: left;
    display: block;
}

.mailSpan a{
	color: #4e4e4e;
}

.mailSpan a:hover {
	text-decoration: underline;
	color: #006593;
}

.mailSpan::before {
    position: absolute;
    left: -25px;
    content: "\f0e0";
    font-family: "FontAwesome";
    top: 1px;
    color: #006593;
}

.phoneSpan {
    position: relative;
    margin-left: 25px;
    display: block;
    float: left;
    margin-bottom: 8px;
}

span.phoneSpan a {
    color: #4e4e4e;
}

.phoneSpan::before {
    position: absolute;
    left: -25px;
    content: "\f095";
    font-family: "FontAwesome";
    top: -1px;
    color: 006593;
    font-size: 15px;
}

.outterWrapper .boxShadow{
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.outterWrapper.table{
	background: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	overflow: hidden;
}

.outterWrapper.table #example_filter {
    float: right;
}

.page-item.active .page-link {
	border-color: #0B6599;
	background-color: #0B6599;
}

/*=========== Admin Login ===========*/
.admin-login {
	position: relative;
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;	align-items: center;
    overflow: hidden;
	background: rgba(11, 101, 153, 0.97)
}

.admin-login::after{
	position: absolute;
	content: "";
    background: url("../images/main-bg.png") no-repeat center;
	background-size: 100% 100%;
	z-index: -1;
	left: 0;
    height: 100%;
    width: 100%;
    top: 0;
}

.admin-login h2 {
    color: #fff;
    margin: 20px 0;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
}

.login {
	position: relative;
	z-index: 999;
}

.admin-login .outerForm {
	background-color: #fff;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
	border-radius: 8px;
	border: 1px solid #0B6599;
}

.admin-login .outerForm .formTop {
	background-color: #0B6599;
	border: 1px solid #0B6599;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
	padding: 10px 15px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	color: #fff;
}

.admin-login .outerForm .formTop .titleInfo {
	padding-left: 70px;
	position: relative;
}

.admin-login .outerForm .formTop .titleInfo::before{
	position: absolute;
	top: 0;
	content: "\f013";
	font-family: FontAwesome;
	color: #fff;
	font-size: 28px;
	left: 25px;
}

.admin-login .outerForm .formTop .titleInfo p{
	margin-bottom: 0;
}

.admin-login .outerForm .formTop .text-right {
	text-align: right;
}

.admin-login .outerForm .formTop .text-right .btn{
	margin-top: 8px;
	font-size: 13px;
	font-weight: 500;

}

.admin-login .outerForm form .input-group {
	margin-bottom: 20px;
}

.admin-login .outerForm .checkboxSection {
	color: #4e4e4e;
}

.admin-login .outerForm form .iconOutter {
	position: relative;
}

.admin-login .outerForm form a {
	font-size: 12px;
	color: #4e4e4e;
	margin-bottom: 10px;
	display: block;
}

.admin-login .outerForm form .btn{
	margin-bottom: 20px;
}

.admin-login .outerForm form i.fa.fa-unlock-alt {
    font-size: 18px;
    padding: 0 2px;
}

.show#eyeIcon {
    color: #006593;
}

#eyeIcon:hover {
	cursor: pointer;
}

span.outterSect {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

span.outterSect .niceTxt {
    /*position: absolute;
    bottom: 0;
    right: 13px;*/
    float: right;
    width: auto;
    text-decoration: underline;
    color: #006593;
    font-size: 13px;
}

span.outterSect .niceTxt1 {
    float: right;
    width: auto;
    text-decoration: none;
    color: #006593;
    font-size: 11px;
    margin-top: 15px;
    margin-right: -87px;
    pointer-events: none;
}
.padding{
    margin-right: -67px !important;
}
span.outterSect .niceTxt > .fa {
    margin-left: 3px;
    font-size:  13px;
}


.skillFiled span.outterSect{
	margin-bottom: 0;
}




.error-danger  {
    color: red !important;
    float: left;
}
.success-message{
color: green !important;
}
.working{background:url('../images/indicator.gif') no-repeat right center;}

.ui-autocomplete-loading {
    background: url(../images/indicator.gif) no-repeat right center;
    background-size: 35px;
}
.degreeFiled {
    position: relative;
}
.color-white{
color:#fff !important;
}
.color-white:hover {
    
    text-decoration: none !important;
}

input[type="file"] {
    text-transform: lowercase;
}
.checkbox-inline{
padding:0;
}
.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
      color: #4c4c4c;
}


/*--------- Toggle Menu Icon ----------*/
.toggleMenuIcon span {
    height:  3px;
    width:  35px;
    background:  #fff;
    display:  block;
    margin: 8px 0;
    border: 1px solid #fff;
    transition: all 0.4s ease 0s;
}

.toggleMenuIcon {
    display:  none;
    float:  left;
    position: absolute;
    bottom: 0;
}

.toggleMenuIcon.active {
	transition: all 0.4s ease 0s;
}

.toggleMenuIcon.active span.top {
    background: transparent;
    border-color: transparent;
}

.toggleMenuIcon.active span.middle {
    display: block;
    transform: rotate(45deg);
}

.toggleMenuIcon.active span.last {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}


/*============== Success Message Pages ===========*/
.successMessage h4.success-message {
    position: relative;
    display:  block;
    padding-right: 25px;
    border-radius: 100px;
    height:  41px;
    border: 1px solid #2c71a5;
    line-height: 40px;
    color: #1e6396 !important;
    padding-left:  50px;
    background:  #fff;
    float: left;
}

.successMessage h4.success-message::before {
    content:  "\f058";
    font-family:  "FontAwesome";
    color: #2c71a5;
    font-size: 46px;
    position:  absolute;
    left: -3px;
    top: 1px;
}


.successMessage .color-white {
	padding: 8px 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border: 1px solid #fff;
	float: left;
	display: block;
	margin: 5px 0;
}

.hide {
    display: none;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.canvasjs-chart-credit{
	display:none;
}


.contentWrapper .outterWrapper table tbody > tr .hire_icon {
    height: 25px;
    width: 25px;
    color: green;
    font-size: 14px;
    background: #fff;
    line-height: 24px;
    text-align: center;
    border-radius: 100px;
    margin: 0 -5px;
}
.qualify_user_name{
	color:orange;
    font-style: italic;
}
.btn_size{
    font-size: 13px;
    padding: 5px;
}
.font-size-12{
    font-size: 70%;
}
.error_model{
top:33%;
}
/*============= Responsiveness ===========*/

@media screen and (max-width:1024px){
	.contentWrapper .outterWrapper div.dataTables_wrapper div.dataTables_filter input {
	    min-width: auto;
	}

	.boxShadow label {
		font-size: 12px !important;
	}

	.rangeField .to {
		margin-top: 28px;
	}

	.contentWrapper .outterWrapper table {
		display: block;
		overflow: auto;
	}

	.jobPostForm .container {
		width: 100%;
	}

	header .navbar-nav {
		flex-direction: row;
	}

	header .navbar span.mr-auto {
	    width: 48%;
	    font-size: 12px;
	}

	.contentWrapper .outterWrapper div.dataTables_wrapper div.dataTables_filter input {
		width: 75%;
		min-width: 75%;
	}

	.leftNavigation .navbar-nav li .dropdown-item:hover::after {
		display: none;
	}

	.leftNavigation li.nav-item a:hover, .leftNavigation li.nav-item a:hover .fa {
		color: #000;
	}

	span.outterSect .niceTxt {
		right: 22px;
	}

	.optionsBtn {
		top: 5px;
	}
}


@media screen and (max-width: 980px){

	.logouploader label {
		padding-right: auto;
	}

	.downLoadResume {
		margin-top: 32px;
	}

}
@media screen and (max-width: 420px){

	span.outterSect .niceTxt1 {
    float: right;
    width: auto;
    text-decoration: none;
    color: #006593;
    font-size: 11px;
    margin-top: 0px;
    margin-right: -13px;
}

}

@media screen and (max-width: 767px){

	header nav.navbar.navbar-expand-lg {
	    padding: 30px 15px 10px;
	    text-align: center;
	}


	.downLoadResume {
		margin-top: 0;
	}

	header .navbar-nav {
		flex-direction: row;
	}

	header .navbar span.mr-auto {
		margin-bottom: 20px;
	}

	header ul.navbar-nav.ml-auto {
	    margin: 0 auto;
	}

	header .navbar .navbar-nav > li::after {
		display: none;
	}

	header .navbar .navbar-nav > li .nav-link {
		padding: 0;
	}

	.optionsBtn {
	    position: relative;
	    right: 0;
	    top: 8px;
	    font-size: 20px;
	}

	.degreeFiled, .skillFiled {
	    padding-left: 60px;
	}

	.optionsBtn {
		left: -65px;
		top: -33px;
	}

	header .navbar .navbar-nav > li:last-child { 
		padding-left: 15px;
	}

	.rangeField .to {
	    background: none;
	    padding: 0;
	    margin: -5px 15px 0;
	    height: auto;
	    border: none;
	    font-size: 14px;
	    font-weight: bold;
	}

	header .navbar span.mr-auto {
	    width: 100%;
	    font-size: 16px;
	}

	.rangeBtn small {
	    padding-top: 0;
	    margin-bottom: 20px;
	}

	.leftNavigation {
		position: absolute;
		background: #fff;
		width: auto;
		z-index: 9999;
		top: 0;
		transition: all 0.6s ease 0s;
	}

	.leftNavigation.show {
		left: 0 !important;
	}

	.padLeft {
		padding-left: 200px;
	}

	header ul.navbar-nav.ml-auto {
	    margin: 0;
	    float: right;
	    text-align: right;
	}

	header .navbar .navbar-nav > li:first-child{
		padding-right: 0;
	}

	.contentWrapper .mTitile {
		font-size: 20px;
	}

	div.dataTables_wrapper div.dataTables_length, 
	div.dataTables_wrapper div.dataTables_filter, 
	div.dataTables_wrapper div.dataTables_info, 
	div.dataTables_wrapper div.dataTables_paginate {
	    text-align: left;
	}

	.toggleMenuIcon {
    	display:  block;
    }

    div.dataTables_wrapper div.dataTables_paginate {
    	float: left;
    }

    div#jobs_filter {
	    margin-top: 10px;
	}

	.formWrapper h1 {
	    font-size: 21px;
	    line-height: 27px;
	}

	.logouploader label {
	    padding-right: 0;
	    text-align: center;
	}

	.logouploader {
	    text-align: center;
	}

	.logouploader .logoUpload {
	    float: none;
	    margin: 0 auto;
	}


	.col-sm-12.col-md-10 .degreeFiled .niceTxt, 
	.col-sm-12.col-md-10 .skillFiled .niceTxt  {
	    bottom: 30px;
	}

	.col-sm-12.col-md-10 .degreeFiled.first .niceTxt,
	.col-sm-12.col-md-10 .skillFiled.first .niceTxt {
	     bottom: 0
	 }

	.admin-login {
	 	padding: 40px 0;
	}

	select#salaryType {
	    margin-top: -10px;
	}

	.form-group.degreeFiled.first .optionsBtn,
	.form-group.skillFiled.first .optionsBtn {
	    position: absolute;
	    left: 0;
	    top: 5px;
	}

	.skillFiled {
		margin-bottom: 0;
	}

	.form-group.skillFiled.first .outterSect {
		margin-bottom: 20px;
	}

	.contentWrapper .form-group.degreeFiled.first .optionsBtn {
		left: -65px;
	}

	.successMessage h4.success-message {
		font-size: 12px;
	}

}
/************New Css*************/
.btn-warning:hover,
.btn-info:hover{
    text-decoration: none;
}
.tile-content-wrapper span {
    font-size: 4rem;
    font-weight: 500;
}
.tile-content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 25px 10px;
}
.tile-box-alt .tile-header{
    font-weight:500;
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover{
        border-color: #d67520 !important;
    background: #e67e22 !important; 
    color:#fff !important;
    box-shadow:none !important;
    border: 0px solid;
}
.btn-warning,
.btn-info{
    border:0px solid !Important;
}
.btn-info.focus, .btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: none !important;
}
.btn-warning.focus,
.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus{
    box-shadow: none !important;
}
 
.dashboard-boxs .tile-content-wrapper{
    height:200px;
}
.dashboard-boxs .tile-content-wrapper .easyPieChart{
        line-height: 180px !important; 
}
span.label.filter-label {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 500;
        line-height: 37px;
            padding-left: 15px;
}
h2.last-three-month {
    font-size: 18px !important;
    color:#000 !important;
    margin-top: 10px;
    margin-bottom: 30px;
}
.white-box {
    width: 100%;
    height: 370px;
    background: #fff;
}
.second-div {
    margin-top: 58px;
}
.first-div .btn-secondary{
    background-color: #fff;
    border-color: #ccc;
    color: #666;
    border-radius: 0px;
        font-size: 13px;
    text-transform: uppercase;
    height: 40px;
    line-height: 25px;
} 
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,
.first-div .show>.btn-secondary.dropdown-toggle{
     background-color: #fff;
    border-color: #ccc;
    color: #666; 
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{
    box-shadow:none;
}
.company_data input{
   text-transform: uppercase; 
}
.company_data .dropdown-item{
    text-transform: uppercase; 
}
.pad_30{
    padding-top:30px;
}
/*.search_monster-modal .modal-title{
    text-transform: uppercase;
    font-size:16px;

}
.search_monster-modal .modal-content{
      border-radius: 0px;
    border: 0px;   
}
.search_monster-modal .close{
  background: #286599;
    opacity: 1;
    color: #fff;
    font-size: 23px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0;
    text-align: center;
    padding: 0;
    margin: -24px;
    border: 2px solid #2c81ca;   
}
.search_monster-modal .modal-header{
     background: #286599;
    color: #fff;
    border-radius: 0;  
    padding:10px; 
}
.search_monster-modal .btn.btn-primary{
 border-radius:0px; 
}
.search_monster-modal .btn.btn-primary.class_wsm{
    background: #555;
    border: 1px solid #696464;
}
*/
.search_monster-modal .inner{
 text-align:center;    
}
.search_monster-modal .form-group{
    margin:24px 0 26px 0;  
}

